.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: "Poppins", serif;
    font-style: normal;
    text-align: center;
}

h1{ 
    font-weight: 900;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

p, button{
    font-size: 20px;
    font-weight: 400;
}

p{
    margin: 10px;
}

input, label{
    font-size: 24px;
    width: 24px;
    height: 18px;
}

select{
    font-size: 20px;
    height: 24px;
}

.eleccion, button{
    margin: 20px;
}

.eleccion{
    margin: auto;
    padding-bottom: 10px;
    width: 600px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .nivel, .opcion{
    border: 3px solid black;
} */

.contenedor{
    border: 2px black solid;
    padding: 2px;
}

.juego{
    margin: auto;
    padding: 1%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.principal{
    margin: auto;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.secundario{
    width: auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor p{
    font-size: 80px;
    color: red;
}

.puntaje{
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

.puntaje input{
    width: 50px;
    height: 25px;
    border: 1px black solid;
    background-color: white;
}

.puntaje h2{
    margin: auto;
}

.puntaje button{
    margin: auto 20px;
}

button{
    border-radius: 10px ;
    padding: 3px 15px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.226); 
    /* Sombra base */
     transition: all 0.4s ease-in-out; /* Transición suave */
    cursor: pointer;
}

button:hover{
    box-shadow: 0px 0px rgba(0, 0, 0, 0.3); /* Sombra al presionar */
    transform: translateY(2px);
    transform: translateX(2px);
    transition: all 0.4s ease-in-out;
}


button:active{
    background-color: #d6daec ;
    box-shadow: -1px -1px rgba(0, 0, 0, 0.603); 
    transition: all 0.4s ease-in-out;
}

@media (width < 650px){

    /* label{
        font-size: 20px;
    } */

    .eleccion{
        width: auto;
        display: flex;
        justify-content: space-around;
    }

    .juego{
        max-width: 300px;
        grid-template-columns: 1fr;
    }

    .principal{
        width: 100%;
    }

    .secundario{
        height: 80px;
    }

    .puntaje{
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows: 20px 100px 50px;
    }

    .puntaje h2, .puntaje button{
        grid-column:  1/4;
    }

    .puntaje button{
        margin: auto;
    }

    .puntaje h2{
        padding-top: 5px;
    }

    h3{
        font-size: 18px;
    }

}

@media  (width < 300px) {
    .opcion{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nivel{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}